[Unit]
Description=TeamCity Build Agent
After=network.target

[Service]
Type=forking
ExecStart={{teamcity_install_dir}}/TeamCity/buildAgent/bin/agent.sh start
ExecStop={{teamcity_install_dir}}/TeamCity/buildAgent/bin/agent.sh stop
User=teamcity

[Install]
WantedBy=multi-user.target
